<!doctype html>
<html>
  <head>
    <title>Açaí Na Garrafa</title>

    <meta charset="utf-8" />
    <meta name="description" content="Sistema de controle de vendas da loja Açaí na Garrafa" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta
      name="viewport"
      content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>"
    />

    <link rel="icon" type="image/png" sizes="128x128" href="src/assets/LogomarcaAçai.png" />
  </head>
  <body>
    <!-- quasar:entry-point -->
  </body>
</html>
